

body{
    background-color: #0f0f0f;
    height: 200vh;
}

nav{
    padding: 0px 16px;
    height: 56px;
}

.g-16{
    gap: 16px;
}

.sidebar{
    width: 15rem;
    padding: 16px;
}

a{
    text-decoration: none;
    color: white;
}

header{
    height: 56px;
}


header span{
    border: 1px solid white;
    color: white;
}
